@page  "/Post/View/{Id:int}"
@inject HttpClient Http

@using Bookish.Client.Shared.Components

@if (Model != null)
{

    <div class="columns">
        <div class="column">
            <h1 class="is-size-2">@Model.Title</h1>
            <p>
                @Model.Posted_By
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <p>@Model.Body</p>
        </div>
    </div>


    <AuthorizeView>
        <Authorized>

            <VoteArrows_Component Post="Model"></VoteArrows_Component>

            <div class="columns">
                <div class="column">
                    <textarea class="textarea" @bind="@CommentBody"></textarea>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <button class="button is-success" @onclick="CreateComment">Add Comment</button>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>

    @foreach (CommentModel comment in Model.Comments)
    {
        <Comment_Component CommentModel="comment"></Comment_Component>
    }

}
