@page  "/Post/View/{Id:int}"
@inject HttpClient Http


<p>@Model.Body</p>
<p>@Model.TotalComments Comments</p>

<CommentList Comments="Model.Comments"></CommentList>
@code { private PostModel Model = new PostModel() {
        
    };
    [Parameter]
    public int Id { get; set; }
    protected override async Task OnInitializedAsync()
    {

        var post = await Http.GetFromJsonAsync<PostModel>("/api/post?id="+Id);
        if (post != null)
        {
            Model = post;
        }
    }

}
