@page "/"

@using Bookish.Client.Shared.Components

<div class="mb-6">
    <div class="columns">
        <div class="column">
            <div class="field">
                <div class="field-body">
                    <div class=" select">
                        <select style="font-size:0.8em" @onchange="SetOrderPostsBy" bind="@OrderPostsBy">
                            <option>Order Posts by:</option>
                            <option value="votesdesc">Votes DESC</option>
                            <option value="votesasc">Votes ASC</option>
                            <option value="commentsdesc">Comments DESC</option>
                            <option value="commentsasc">Comments ASC</option>
                            <option value="postdatedesc">Post Date DESC</option>
                            <option value="postdateasc">Post Date ASC</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    @foreach (PostListModel post in Posts)
    {
        <PostList_Component Post="post"></PostList_Component>
    }


    <div id="PostLoadTriggerId"></div>

</div>
