@page "/Account/History"

@using Bookish.Client.Shared.Components
<h1>My Activity</h1>
@if (Posts.Count() == 0 && !IsLoading)
{
    <div class="columns has-text-centered">
        <div class="column">
            <h3 class="title">Sorry, no posts available</h3>
        </div>
    </div>
}
else
{
    @foreach (PostListModel post in Posts)
    {
        <PostList_Component Post="post"></PostList_Component>
    }

    <div class="columns">
        <div class="column has-text-centered">
            <button class="button is-success" @onclick="LoadNextPage" disabled="@IsEmpty">
                Load Next Page
            </button>
        </div>
    </div>
}
