<nav class="navbar mb-4" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <NavLink class="navbar-item" href="/">
            <img src="/images/1309128948.svg" width="50" height="28">
            Bookish
        </NavLink>

        <a role="button" class="navbar-burger @(IsActive ? "is-active" : "")" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" @onclick="@(() => IsActive = !IsActive)">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu @(IsActive ? "is-active" :"")">
        <div class="navbar-start">
            <NavLink class="navbar-item" href="/">
                Front Page
            </NavLink>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="navbar-item" href="Post/Create">
                        Create Post
                    </NavLink>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="navbar-item" href= "Account/History">
                        View Account
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <AuthorizeView>
                    <Authorized>
                        <div class="buttons">
                            <NavLink class="navbar-item" href="/">
                                @UserName
                            </NavLink>
                            <label>
                                |
                            </label>
                            <NavLink class="navbar-item" @onclick="Logout">
                                Logout
                            </NavLink>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="buttons">
                            <NavLink class="button is-primary" href="/SignUp">
                                <strong>Sign up</strong>
                            </NavLink>
                            <NavLink class="button is-default" href="/Login">
                                Login
                            </NavLink>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</nav>
