@page  "/Post/View/{Id:int}"
@inject HttpClient Http


<p>@Model.Body</p>
<p>@Model.TotalComments Comments</p>

<CommentList Comments="Model.Comments"></CommentList>
@code { private PostModel Model = new PostModel() {
        Comments = new List<CommentModel>{
            new CommentModel{
                Body = "Text 1",
                Comments = new List<CommentModel>{
                    new CommentModel{Body = "Text 1.1" },
                    new CommentModel{Body = "Text 1.2" },
                    new CommentModel{Body = "Text 1.3",
                        Comments = new List<CommentModel>{
                            new CommentModel{Body = "Text 1.3.1" },
                            new CommentModel{Body = "Text 1.3.2" },
                            new CommentModel{Body = "Text 1.3.3" }
                        }
                    }
                }
            },
            new CommentModel{Body = "Text 2",
            Comments = new List<CommentModel>{
                new CommentModel{Body = "Text 2.1" },
                new CommentModel{Body = "Text 2.2" },
                new CommentModel{Body = "Text 2.3" }
            }
            },
            new CommentModel{Body = "Text 3" }
        }
    };
    [Parameter]
    public int Id { get; set; }
    protected override async Task OnInitializedAsync()
    {

        var post = await Http.GetFromJsonAsync<PostModel>("/api/post?id="+Id);
        if (post != null)
        {
            Model = post;
        }
    }

}
