.post-item:hover {
    cursor: pointer;
    box-shadow: -1px 0px 6px 1px #e5e5e5
}

.is-full-width {
    width: 100% !important;
}

.box-highlight {
    box-shadow: 0 0.5em 1em -0.125em rgb(187 116 8 / 43%), 0 0px 0 1px rgb(115 17 17 / 63%);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

